<ul class='gallery__list'>
  {{#each this}}
    <li class='search-result__item'>
      <a class='gallery__link' href='{{largeImageURL}}'>
        <img class='gallery__image' src='{{webformatURL}}' alt='{{id}}' />
      </a>
    </li>
  {{/each}}
</ul>